In [ ]:
# Apprach -4 - list of dicts

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame([{'name' : 'Varun',
               'ages' : 20,
               'married' : False}])

    name  ages  married
0  Varun    20    False

zip method combines values from more than one iterable into a list of tuples.

In [3]:
# Some Python lists

names = ['Varun', 'Anup', 'Pihu', 'Olive', 'Mrig', 'Tilda']
ages = [20, 30, 3, 23, 35, 45]
married = [False, False, True, False, True, True]

In [4]:
list(zip(names, ages, married))

[('Varun', 20, False),
 ('Anup', 30, False),
 ('Pihu', 3, True),
 ('Olive', 23, False),
 ('Mrig', 35, True),
 ('Tilda', 45, True)]

In [5]:
rowwise = [{'name' : name, 'age' : ages, 'married' : married} for name, ages, married in 
           zip(names, ages, married)]

In [6]:
rowwise

[{'name': 'Varun', 'age': 20, 'married': False},
 {'name': 'Anup', 'age': 30, 'married': False},
 {'name': 'Pihu', 'age': 3, 'married': True},
 {'name': 'Olive', 'age': 23, 'married': False},
 {'name': 'Mrig', 'age': 35, 'married': True},
 {'name': 'Tilda', 'age': 45, 'married': True}]

In [7]:
pd.DataFrame(rowwise)

    name  age  married
0  Varun   20    False
1   Anup   30    False
2   Pihu    3     True
3  Olive   23    False
4   Mrig   35     True
5  Tilda   45     True

In [ ]:
# The info Method

In [8]:
df = pd.DataFrame(rowwise)

In [9]:
df

    name  age  married
0  Varun   20    False
1   Anup   30    False
2   Pihu    3     True
3  Olive   23    False
4   Mrig   35     True
5  Tilda   45     True